/* banner reverse */
.banner-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;

  &__info {
    max-width: 960px;
    min-height: 450px;
    flex: 1 1 350px;
    background-color: $mainOrange;
    color: #fff;
    padding: 5px;
    position: relative;

    @mixim atSmall {
      min-height: 400px;
      padding: 10px;
    }

    @mixim atMedium {
      padding: 2rem;
    }

    @mixim atLarge {
      padding: 4rem;
    }

    @mixim atXLarge {
      padding: 6rem;
    }
  }

  &__text {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
  }

  &__icon {
    text-align: center;
    display: block;
    color: $mainBlue;
    margin: 0 auto;
    font-size: 3rem;

    @mixim atXLarge {
      font-size: 6rem;
    }
  }

  &__sub-text {
    text-align: left;
  }

  &__slider {
    width: 960px;
    grid-column: 2 / 10;
    grid-row: 4 / 5;
    position: relative;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    z-index: 50;
  }

  &__heading {
    font-size: 2rem;
    color: #12376e;
    margin-bottom: 2rem;
    text-shadow: 2px 2px #fff;

    @mixin atMedium {
      margin-bottom: 4rem;
      font-size: 4rem;
    }
  }

  &__wrapper {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__anchor {
    text-align: center;
  }

  &__btn {
    cursor: pointer;
    min-width: 10rem;
    height: 4rem;
    background: linear-gradient(to top, #00154c, #12376e, #23487f);
    color: #fff;
    border: 0.1rem solid #fff;
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    outline: none;
    position: relative;
    overflow: hidden;
  }

  &__btn-label {
    cursor: pointer;
    text-decoration: none;
  }

  &__btn-text-one {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    transition: top 0.2s;
  }

  &__btn-text-two {
    position: absolute;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    transition: top 0.2s;
  }

  &__btn:hover &__btn-text-one {
    top: -100%;
  }

  &__btn:hover &__btn-text-two {
    top: 50%;
  }
}

.slideshow-rev {
  height: 100%;
  overflow: hidden;
}

.slideshow-rev-wrapper {
  display: flex;
  width: 400%;
  height: 100%;
  position: relative;
  animation: slideshow-rev 20s infinite;
}

@keyframes slideshow-rev {
  0% {
    left: -300%;
  }

  10% {
    left: -300%;
  }

  15% {
    left: -200%;
  }

  25% {
    left: -200%;
  }

  30% {
    left: -100%;
  }

  40% {
    left: -100%;
  }

  45% {
    left: 0;
  }

  55% {
    left: 0;
  }

  60% {
    left: -100%;
  }

  70% {
    left: -100%;
  }

  75% {
    left: -200%;
  }

  85% {
    left: -200%;
  }

  90% {
    left: -300%;
  }
}
/* end of banner */
