.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: $mainBlue;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 0.75rem;
  display: inline-block;

  &--wide {
    width: 24rem;
    position: relative;
  }

  &--wide2 {
    width: 21rem;
    position: relative;
  }
  &--icon {
    position: absolute;
    left: 1.5rem;
    top: 0.8rem;
  }

  &--txt-up {
    position: absolute;
    left: 4rem;
    top: 1.3rem;
  }

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }
}
